.App {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-float infinite 3s ease-in-out;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}

.container {
}

.navigation-menu {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
	margin: 0px 600px;
}

.nav-btn {
	text-decoration: none;
	cursor: pointer;
	color: black;
	display: inline-block;
	position: relative;
	padding: 15px 30px;
	border: 1px solid;
	border-image: linear-gradient(
		0deg,
		rgba(29, 36, 34, 1) 25%,
		rgba(234, 243, 75, 1) 65%,
		rgba(253, 187, 45, 1) 100%
	);
	border-image-slice: 1;
	margin: 10px 20px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nav-btn:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 100%;
	z-index: -1;
	color: white;
	background: linear-gradient(
		0deg,
		rgba(29, 36, 34, 1) 25%,
		rgba(234, 243, 75, 1) 65%,
		rgba(253, 187, 45, 1) 100%
	);
	transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-btn:hover {
	background: rgba(255, 255, 255, 0);
}

.nav-btn:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}

div {
}

#light {
	background-color: #ffffff;
}

#dark {
	background-color: url(../src/images/photo_2023-02-02_21-32-11.jpg);
}

#light label {
	color: #1a191f;
}

#dark label {
	color: #ffffff;
}

#dark .d1 button {
	background: #ffffff;
	color: #000000;
}

#dark .d1 button:before {
	content: '';
	color: #000000;
}

#dark .d1 button:hover {
	content: '';
	background: #838383;
}

.switcher-light-dark-mode {
	display: flex;
	padding: 10px;
	margin: 5px;
	width: 15%;
}

.switch {
	padding-left: 5px;
}

form {
	padding-left: 15px;
	display: flex;
	align-items: center;
	position: relative;
	width: 300px;
	margin: 0 auto;
}

.d1 {
	padding: 0px;
	background: hidden;
	margin-right: 15px;
}

.d1 input {
	width: 75%;
	margin-right: 40px;
	height: 42px;
	padding-left: 10px;
	border: 1px solid #353535;
	border-radius: 5px;
	outline: none;
	background: #ffffff;
	color: #9e9c9c;
}
.d1 button {
	position: absolute;
	margin-top: 1.5px;
	top: 0;
	right: 0px;
	width: 42px;
	height: 42px;
	border: none;
	background: #000000;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
}

.d1 button:before {
	color: #000000;
}

.d1 button:hover {
	background: #838383;
}

.container-slider-movies {
	margin-top: 5px;
	margin-bottom: 75px;
}

.container-main {
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	margin: 25px 50px;
}

#light .movies-menu {
	padding: 15px;
	margin: 0 15px 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #373737;
}

#light .movies-menu h3 {
	color: #ffffff;
	font-size: 17px;
}

#light .modal-movie-release {
	color: rgb(230, 230, 230);
}

#light .modal-movie-info {
	color: rgb(230, 230, 230);
}

.movies-menu {
	margin: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container-footer {
	position: relative;
	background-color: #1a191f;
	width: 100%;
	height: 80px;
	/* right: 0;
	left: 0;
	bottom: 0; */
}

.container-slider-movies {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.slider-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 100%;
	box-shadow: 0px 0px 18px 0px rgba(35, 35, 35, 0.75);
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-menu button {
	padding: 10px 20px;
	background-color: rgb(202, 202, 202);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

button:hover {
	background-color: rgb(230, 230, 230);
	transition: 0.5s;
}

.button-slider-prev {
	left: 155px;
}

.button-slider-next {
	right: 155px;
}

.movie-image {
	cursor: pointer;
	box-shadow: 0 2px 4px #5a5a5a;
	height: 300px;
	width: 300px;
}

.movie-image:hover {
	opacity: 0.7;
	transition: opacity 0.3s ease-in-out;
}

.movies-menu h3 {
	font-size: 17px;
}

.modal__overlay {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal {
	margin-top: 20px;
	position: fixed;
	top: 47%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	background-color: #373737;
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.modal__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem 1rem;
}

.modal-movie-image {
	position: relative;
	cursor: pointer;
	box-shadow: 0 2px 4px #5a5a5a;
	height: 300px;
	width: 300px;
}

.modal-movie-h3 {
	color: rgb(230, 230, 230);
}

.modal-movie-info {
	color: rgb(230, 230, 230);
	margin: 0px 15px;
}

.modal-button-close {
	padding: 8px 10px;
	margin: 50px 10px 0px 10px;
	align-self: center;
	font-size: 14px;
	cursor: pointer;
}

.modal-button-close:hover {
	background-color: #9e9c9c;
}

.modal-movie {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-movie-average {
	position: absolute;
	border-radius: 150px;
	padding-top: 5px;
	top: 65px;
	left: 250px;
	width: 33px;
	height: 27px;
	justify-content: center;
	align-items: center;
	background-color: #1a191f;
	color: #ffef3a;
	font-size: 14px;
}

.modal-movie-release {
	font-size: 14px;
	font-weight: bold;
	color: rgb(230, 230, 230);
}

.footer {
	padding-top: 30px;
	display: flex;
	justify-content: space-around;
}

.instagram-footer {
	vertical-align: middle;
	display: inline-block;
}

.footer svg {
	color: #ffffff;
}

.footer a {
	padding-left: 5px;
	text-decoration: none;
}

.footer a:hover {
	color: rgba(253, 187, 45, 1);
	padding-left: 5px;
	text-decoration: underline;
}

.about-me-info {
	background-color: #ffffff;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 50px;
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.text-about-me {
	margin: 50px;
	text-align: center;
}

.about-me-info h2 {
	color: #2a3e52;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-me-info p {
	color: #2a3e52;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-bottom: 25px;
	font-size: 18px;
}

.home-page {
	display: flex;
	background-color: #ffffff;
	margin: 50px 200px;
	box-shadow: 0px 0px 18px 0px rgba(35, 35, 35, 0.75);
}

.home-page h2 {
	color: #2a3e52;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-page p {
	margin: 50px 100px;
	color: #2a3e52;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
}

#dark .sort-movies-container {
	padding: 0 3%;
	border-right: 1px solid #a2a2a2;
}

#light .sort-movies-container {
	padding: 0 3%;
	background-color: #373737;
	border-right: 1px solid #ffaa00;
	color: #a2a2a2;
}

.sort-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sort-menu-p {
	margin: 0;
	padding-top: 5%;
	width: 150px;
}

.sort-menu-list {
	list-style: none;
	width: 150px;
	padding: 0 2%;
	text-align: left;
}

.sort-menu-list li {
	padding-bottom: 5%;
}
